* {
	margin: 0;
	padding: 0;
}
body{
	background-color: #ccc;
	width: 100%;
	display: -webkit-box;/*will hold a bunch of boxes*/
	-webkit-box-pack: center;
}


nav {
	background-color: gray;
	padding-left: 2em;
}
nav li{
	display: inline;
	padding-left: 1em;
	
}

ul,ol{
	padding-left: 8em;
}

a {
font-size:1.2em;
}

a:hover {
	color:#f36;
}

nav a{
	color:white;
	-webkit-transition:color .2s;
}


h1 {
	color:#fff;
	letter-spacing: .13em;
	text-shadow: .01em .05em .1em #555;
	padding-left:.4em;
	font-family:SteinerLight,Arial, Helvetica, sans-serif;
	margin:1em 0em .2em 0em;/*top right bottom left*/
}
h2 {
	color:#888;
	font-size:2em;
	padding:0 0 0 4em;
	margin:0;
}
.baguetteBoxOne h2 {
	color:#666;
	padding:0 0 0 0;
	margin:0;
}

h4 {
	text-shadow: .01em .05em .1em #555;
}


p {
	color:#334;
	padding:0 0 0 3em;
}


tr,th,td {
	padding:4px;
	background-color:#ccc;
	text-align:center;
}


th {
	font-weight:700;
	text-shadow: .01em .05em .1em #000;
}


header,section,footer,aside,nav,article,hgroup{
	display: block;
}
	

header {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}


canvas {
	width:1000px;
}


footer {
	color:#888;
	padding:0 0 0 2em;
}


.blk {
	background-color:black;
	-webkit-transition:opacity .5s;
}

.blk:hover {
	opacity: .5;
}

td:not(.blk) {
	-webkit-transition: background-color .5s;
}

td:not(.blk):hover {
	background-color: #eee;
}

hr {
	border:0;
	border-top: 1px solid #8c8b8b;
	text-align: center;
	margin: 20px;
}
hr:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -25px;
	padding: 8px 0px 10px 0px;
	background: #ccc;
	color: #8c8b8b;
	font-size: 28px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
}
#logo{
	width:90px;
	padding-top:10%;
	-webkit-transition:-webkit-transform 1s, opacity 1s;
}
#logo:hover {
	-webkit-transform:rotate(90deg);
	opacity:0;
}
#big_wrapper {
	max-width: 1350px;
	margin: 20px 0;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-box-flex: 1;/*1:flexible 0:not*/
}
#main_div {
	display: -webkit-box;
	-webkit-box-orient: horizontal;
}
#main_section {
	padding: 20px;
	-webkit-box-flex: 1;
	min-width: 500px;
}
#side_news {
	color: #eee;
	padding: 20px;
	background:#bbb;
	-webkit-box-flex: 0.3;
	max-width: 400px;
	/*width: 300px;*/
}
#side_news p{
	color:#555;
	padding-left:.6em;
	padding-bottom:1.6em;
}
#side_news ul{
	padding-bottom:1.6em;
	list-style-type:none;
}
#side_news li{
	color:#555;
	margin-left:.6em;
	/*list-style-type:hiragana;*/
}
#the_footer {
	text-align: center;
	padding: 20px;
	border-top: 2px solid grey;
}
@font-face {
	font-family: 'SteinerLight';
	src: url('Steinerlight.ttf');
}
