#tooltip {
    position: absolute;
    width: 300px;
    height: auto;
    padding: 10px;
    background-color: white;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
    pointer-events: none;
}

#bNext{
  position: absolute;
  width: 50px;
  height: 30px;
  left:1300px;
  top:60px;
}
#bSave{
  position: absolute;
  width: 50px;
  height: 30px;
  left:1350px;
  top:60px;
}
#dShowText{
  position: absolute;
  width: 180px;
  height: 30px;
  left:1300px;
  top:100px;
}


.rowline {
  shape-rendering: crispEdges;
  stroke-width:1;
  stroke: #aaa;
  stroke-dasharray:4 1;
}

.columnline {
  shape-rendering: crispEdges;
  stroke-width:1;
  stroke: #999;

}

.axis line {
  fill: none;
  shape-rendering: crispEdges;
}

.notselected{
  opacity: 0.2;
}